experiments/results/experiments_08/**/raw/** filter=lfs diff=lfs merge=lfs -text
experiments/results/experiments_08/**/*.db3 filter=lfs diff=lfs merge=lfs -text
experiments/results/experiments_08/**/*.mcap filter=lfs diff=lfs merge=lfs -text
experiments/results/experiments_08/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
