experiments/results/experiments_09/**/raw/** filter=lfs diff=lfs merge=lfs -text
experiments/results/experiments_09/**/*.db3 filter=lfs diff=lfs merge=lfs -text
experiments/results/experiments_09/**/*.mcap filter=lfs diff=lfs merge=lfs -text
experiments/results/experiments_09/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
